<%= form_with model: blog, url: url do |f| %>
  <div>
    識別碼：<%= f.text_field :handler %>
  </div>
  <div>
    站名：<%= f.text_field :title %>
  </div>
  <div>
    描述：<%= f.text_area :description %>
  </div>
  <%= f.submit '新增' %>
<% end %>
  