<h1>文章列表</h1>

<%# 
提示通知，應是全站顯示，需放在 views/layout/applicaiton.html.erb
<%= flash[:notice]  
%> 

<a href="/blogs/new">新增文章</a>
<%# 超連結可用 link_to 方法 %>
<%# link_to "content", "link"/ path %> 
<%= link_to "新增文章", "/blogs/new" %> <%# 直接用網址打錯的話不會跳出 error %>
<%= link_to "新增文章", new_blog_path %> <%# 用 path ，假如打錯重新整理頁面會直接跳出 error，未來要修改路徑比較方便。 %>
  
<%#  
new_blog_path() is a method
another is 
new_blog_url

url 使用時機
when user forgoet their password
they recieve an eamil 
in the eamil with a url link
this is the time to use new_blog_"url"

%>

<%= render "shared/ad", ad_color: @ad_color1  %>
<%= render "shared/ad", ad_color: @ad_color2  %>
<%= render "shared/ad", ad_color: @ad_color3  %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= "O" if article.pincode.present? %>
      <%= link_to article.title, article %>
      <%= link_to "edit", edit_article_path(article) %>
      <%= link_to "delete", article, method: "delete", data: { confirm: "Are you sure?" } %>
      <%= link_to "delete", article, data: { method: "delete" ,confirm: "Are you sure?" } %>
      <%= link_to "delete", article, data: { method: "delete" ,ooxx: 123 } %>
    </li>    
  <% end %>
</ul>
