<h1>Sign Up</h1>
<%# 
  form_for 預期會找 users_path  
  假如必須要 path = /user/sign_up; 解法： 在 routes + 上 path: "user"
%> 
<%# 
  form_for Model
  form_tag 

  form_with(model: @user)

  form_with url "/"

 %>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :email, "Email" %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password, "密碼" %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation, "密碼確認" %>
    <%= form.password_field :password_confirmation %>
  </div>
  <%= form.submit "註冊" %>
  <br>
<% end %>
  