<!DOCTYPE html>
<html>
  <head>
    <title>Rich</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>123456</h1>
    <%# User: <%= current_user.email if current_user %> 
    <%# <% if notice %> 
      <%# <div class="flash"> %>
        <%# <%= notice %> 
        <%# <%= render "shared/flash" if notice %> 
      <%# </div> %>
    <%# <% end %> 
    <%# 上方等於 21 行 %>
    <%= render "shared/flash" if notice %>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
